.navbar-nav .nav-item {
    margin-right: 20px;
}
.banner {
    background: linear-gradient(135deg, darkblue, #4b6cb7, #182848,darkblue);
    color: white;
    padding: 100px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#card-section {
    margin-top: 40px;
    padding-left: 20px; /* shifts all cards slightly to the right */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 139, 0.3);
    cursor: pointer;
}

.card-img-top {
    height: 180px;
    object-fit: contain;
    padding: 15px;
}

#customer_card {
    height: 643px;
}
#order-id {
    margin-bottom: 10px;
    width: 300px;
}
