.navbar-nav .nav-item {
    margin-right: 20px;

}
.nav-item a {
    color: white;
}

#navb{
    background-color: dimgrey;
}
.banner {
    background: linear-gradient(135deg, darkblue, #4b6cb7, #182848,darkblue);
    color: white;
    padding: 100px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

#card-section {
    margin-top: 10px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 139, 0.3);
    cursor: pointer;
}

.card-img-top {
    height: 180px;
    object-fit: contain;
    padding: 15px;
}

#customer_card {
    height: 643px;
}
#order-id {
    margin-bottom: 10px;
    width: 300px;
}

body{
    background-color: bisque;
}

#order_detail{
    margin-top: 40px;
}

#orderT{
    margin-top: 10px;
}

#item{
    margin-top: 100px;
}

#customer{
    margin-top: 50px;
}

